<app-login *ngIf="!sesionIniciada()" (loginExitoso)="onLoginExitoso($event)"></app-login>

<ng-container *ngIf="sesionIniciada()">
  <h1>Instituciones educativas</h1>
  <p class="subtitulo">Instituciones registradas en el municipio de Lenguazaque.</p>

  <div class="grid-inst">
    <div class="card-inst" *ngFor="let inst of instituciones()">
      <h4>{{ inst.nombre }}</h4>
      <span class="badge-zona">{{ inst.zona_territorial }}</span>
      <div class="pie">
        <span>{{ inst.numero_estudiantes }} estudiantes</span>
      </div>
    </div>
  </div>
</ng-container>
